<div class="container">
	<% if @user.tasks.count == 0 %>
	<div class="no-tasks">
		<p class="flow-text">No Tasks to show. You're All Done!</p>
		<i class="medium material-icons grey-text text-lighten-1">done_all</i></br></br>
		<a class="waves-effect waves-light btn-large light-green darken-4 modal-trigger" href="#modal1"><i class="material-icons right ">flight_takeoff</i>Create a Task</a>
	</div>
	<% else %>
<div class="row">
	<% if @user.tasks.count == 1 %><p class="center-align flow-text">1 Task</p>
	<% else %>
	<p class="center-align flow-text"><%= @user.tasks.count %> Tasks</p>
</div>

<% end %>
<div class="row">
  
<% @user.tasks.each do |task| %>
	
        <div class="col s12 m4">
        	<% if task.priority == "1" %>
          <div class="card height_fixed hoverable low-p ">
          	<% elsif task.priority == "2" %>
          	<div class="card height_fixed hoverable medium-p">
          	<% elsif task.priority == "3" %>
          	<div class="card height_fixed hoverable high-p">
          		<% end %>
          		<span class="card-title smaller"><i class="material-icons card-close tooltipped grey-text text-lighten-3" data-position="top" data-delay="10" data-tooltip="Mark done!">done_all</i></span>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4"><%= task.title %></span>
              <p><%= task.notes %></p>
            </div>
            <div class="card-footer light-green darken-2">
              <a class="waves-effect waves-light lighten-2 btn-flat btn-small activator white-text">Notes</a>
              <%= link_to 'Edit', edit_task_path(task), class: "modal-trigger waves-effect waves-light lighten-2 btn-flat btn-small  white-text " %>
              <span class="white-text"><%= task.due %></span>
            </div>
            <div class="card-reveal light-green darken-2 activator">
            	<div class="card-reveal-content">
            	<span class="card-title smaller"><%= task.notes %><i class="material-icons card-close">close</i></span>
            </div>
        </div>


          </div>
        </div>

<% end %>
      </div>
      <% end %>

<div id="modal1" class="modal">
    <div class="modal-content container">
    	<div class="row">
      <%= form_for(@new_task, :html => { :class => 'col s12' }) do |f| %>
      	<div class="input-field col s6">
    	<%= f.label :title %>
   		 <%= f.text_field :title %>
   		</div>
   	

  		<div class="input-field col s6 ">
  		 
   		 <%= f.select :priority do %>
   		 <option value="" disabled selected>Set Task Priority</option>
  		<% [['Low', 1], ['Medium', 2], ['High', 3]].each do |c| -%>
   		 <%= content_tag(:option, c.first, value: c.last) %>
 		 <% end %>
		<% end %>
		
    	</div>
		</div>
		<div class="row">
			<div class="col s6 input-field">
    <%= f.label :notes %>
    <%= f.text_area :notes , class: "materialize-textarea", length: "150" %>
  </div>
  	<div class="input-field col s6">
    	<%= f.label :due, value: "Set a Target Date" %></br></br>
   		 <%= f.text_field :due, class: "datepicker" %>
   		</div>
	</div>
        <button class="waves-effect center-align waves-light btn-large light-green darken-4" type="submit" name="commit">Create Task<i class="material-icons small right">flight_takeoff</i></button>


<% end %>
    </div>
  </div>


  <% if @tasks.count != 0 %>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red modal-trigger tooltipped" data-position="left" data-delay="10" data-tooltip="New Task" href="#modal1" >
      <i class="large material-icons">note_add</i>
    </a>
  </div>
  <% end %>
  <div class="number"><%= User.count %></div>


</div>
<script>
  $(document).ready(function() {
    $('select').material_select();

    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year
    formatSubmit: 'dd/mm/yyyy'
  });
  });


  </script>
