<!-- Number of Tasks -->

<div class="row">
  <div class="col s12 center-align white-text">
    <h5 class="flow-text "><%= render 'task_number' %></h5>
      <span class="new-badge padded red  white-text hoverable "><%= @user.tasks.where(priority: "3").count %> high</span>
      <span class="new-badge padded amber darken-2 white-text hoverable "><%= @user.tasks.where(priority: "2").count %> medium</span>
      <span class="new-badge padded light-green white-text hoverable "><%= @user.tasks.where(priority: "1").count %> low</span>
  </div>
</div>

<!-- end -->

<!-- Start listing tasks -->
  
<div class="row">
  <div class="col s4 m12 l10 offset-l1">
<% @user.tasks.each do |task| %>
	     
        <div class="col s4 m12 l4">

        	<% if task.priority == "1" %>
              <div class="card height_fixed hoverable low-p ">
            <% elsif task.priority == "2" %>
            	<div class="card height_fixed hoverable medium-p">
            <% elsif task.priority == "3" %>
            	<div class="card height_fixed hoverable high-p">
            <% else %>
              <div class="card height_fixed hoverable ">
            <% end %>

            <span class="card-title smaller "><i class="material-icons card-close tooltipped grey-text text-lighten-3" data-position="top" data-delay="10"  data-tooltip="Mark done!">done_all</i></span>

            <div class="card-content activator">
              <span class="card-title grey-text text-darken-4"><%= task.title %></span>
              <p><%= task.notes %></p>
            </div>

            <div class="card-footer  blue darken-4">
              <a class="waves-effect waves-light lighten-2 btn-flat btn-small activator white-text">Notes</a>
              <%= link_to 'Edit', edit_task_path(task), class: "modal-trigger waves-effect waves-light lighten-2 btn-flat btn-small  white-text " %>
              <span class="white-text"><%= task.due %></span>
            </div>

            <div class="card-reveal  blue darken-4 activator">
            	<div class="card-reveal-content">
            	 <span class="card-title smaller"><%= task.notes %><i class="material-icons card-close">close</i></span>
              </div>
            </div>
          </div>
        </div>

<% end %>
  </div>
</div>      

<%= render 'new_task' %>


  <% if @tasks.count != 0 %>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating waves-effect waves-light btn-large blue darken-4 modal-trigger tooltipped" data-position="left" data-delay="10" data-tooltip="New Task" href="#modal1" >
      <i class="large material-icons">note_add</i>
    </a>
  </div>
  <% end %>
  <div class="number"><%= User.count %></div>


</div>
<script>
  $(document).ready(function() {
    $('select').material_select();

    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year
    formatSubmit: 'dd/mm/yyyy'
  });
  });


  </script>
